BODY {
	margin:20px 20px 20px 20px;
}
DIV.outline {
	width:650px;
}
TABLE {
	width:100%;
	background-color:rgb(255,255,255);
	border-collapse:collapse;
}
TD {
	font:normal normal normal 10pt "Arial";
	padding:1mm;
	color:rgb(0,0,0);
	text-align:left;
	vertical-align:top;
	border-top-style:none;
	border-left-style:none;
}
TD.T4-LIST0-0 {
	border-left:0.1mm solid rgb(0,0,0);
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-1 {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-2 {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-3 {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-4 {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-0 {
	border-left:0.1mm solid rgb(0,0,0);
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-1 {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-2 {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-3 {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-4 {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-0-b {
	border-left:0.1mm solid rgb(0,0,0);
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-1-b {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-2-b {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-3-b {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST0-4-b {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-0-b {
	border-left:0.1mm solid rgb(0,0,0);
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-1-b {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-2-b {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-3-b {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.T4-LIST1-4-b {
	border-bottom:0.1mm solid rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TABLE.t-0 {
	margin:0.0mm 0.0mm 2.0mm 0.0mm;
}
COL.c0-0 {
	width:100%;
}
TD.s0-0-0 {
	border-top:0.0mm none rgb(0,0,0);
	border-left:0.0mm none rgb(0,0,0);
	border-bottom:0.0mm none rgb(0,0,0);
	border-right:0.0mm none rgb(0,0,0);
	font:normal normal bold 14pt "Arial";
}
TABLE.t-1 {
	margin:0.0mm 0.0mm 0.0mm 0.0mm;
}
COL.c1-0 {
	width:21%;
}
COL.c1-1 {
	width:25%;
}
COL.c1-2 {
	width:18%;
}
COL.c1-3 {
	width:7%;
}
COL.c1-4 {
	width:29%;
}
TD.s1-0-0 {
	border-top:0.1mm solid rgb(0,0,0);
	border-left:0.1mm solid rgb(0,0,0);
	border-bottom:0.8mm double rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.s1-0-1 {
	border-top:0.1mm solid rgb(0,0,0);
	border-bottom:0.8mm double rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.s1-0-2 {
	border-top:0.1mm solid rgb(0,0,0);
	border-bottom:0.8mm double rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.s1-0-3 {
	border-top:0.1mm solid rgb(0,0,0);
	border-bottom:0.8mm double rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
TD.s1-0-4 {
	border-top:0.1mm solid rgb(0,0,0);
	border-bottom:0.8mm double rgb(0,0,0);
	border-right:0.1mm solid rgb(0,0,0);
}
